NODE_ENV=development
PORT=3002
SERVICE_NAME=payment-service
MONGO_URI=mongodb://localhost:27017/payment-db
EVENT_BUS=kafka
KAFKA_BROKERS=localhost:29092
KAFKA_CLIENT_ID=payment-service
KAFKA_GROUP_ID=payment-service-group
JWT_SECRET=super-secret-jwt-key-reservas-vuelos-2026
MONOLITH_URL=http://localhost:3000
GATEWAY_LATENCY_MS=400
CORS_ORIGIN=*
LOG_LEVEL=info
