NODE_ENV=development
PORT=3001
SERVICE_NAME=flight-management-service
MONGO_URI=mongodb://localhost:27017/flight-db
EVENT_BUS=kafka
KAFKA_BROKERS=localhost:29092
KAFKA_CLIENT_ID=flight-management-service
KAFKA_GROUP_ID=flight-management-service-group
JWT_SECRET=super-secret-jwt-key-reservas-vuelos-2026
INTERNAL_API_KEY=internal-key-reservas-vuelos
MONOLITH_URL=http://localhost:3000
SYNC_DAYS_AHEAD=15
CORS_ORIGIN=*
LOG_LEVEL=info
